<!-- Main Footer-->
<div class="main-footer text-center">
    <div class="container">
        <div class="row row-sm">
            <div class="col-md-12">
                    <span>Copyright © 2023 <a target="_blank" href="https://bikashsubedi.com.np">Bikki</a>. Designed by <a
                            target="_blank"
                            href="https://bikashsubedi.com.np">Bikash Subedi</a> All rights reserved.</span>
            </div>
        </div>
    </div>
</div>
<!--End Footer-->
