{% extends 'backend/layouts/master.html' %}
{% load static %}

{% block breadcrumb %}
    {% url 'nepse:csv.index' as the_url %}
    {% include 'backend/layouts/breadcrumb.html' with title="CSV List" formPage=True showPage=True route=the_url %}
{% endblock %}

{% block styles %}

    <style>
        * {
            padding: 0;
            margin: 0;
            position: relative;
            box-sizing: border-box;
        }

        .listing-section, .cart-section {
            width: 100%;
            float: left;
            padding: 1%;
            border-bottom: 0.01em solid #dddbdb;
        }

        .product {
            float: left;
            width: 23%;
            border-radius: 2%;
            margin: 1%;
        }

        .product:hover {
            box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
        }

        .image-box {
            width: 100%;
            overflow: hidden;
            border-radius: 2% 2% 0 0;
        }

        .images {
            height: 15em;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 2% 2% 0 0;
            transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
        }

        .images:hover {
            transform: scale(1.2);
            overflow: hidden;
            border-radius: 2%;
        }

        /* IMAGES */
        #image-1 {
            background-image: url("https://cdn-icons-png.flaticon.com/512/8242/8242984.png");
        }


        .text-box {
            width: 100%;
            float: left;
            border: 0.01em solid #dddbdb;
            border-radius: 0 0 2% 2%;
            padding: 1em;
        }

        .item, .price {
            clear: left;
            width: 100%;
            text-align: center;
        }

        .description, label, button, input {
            float: left;
            clear: left;
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 1em;
            text-align: center;
            margin: 0.2em auto;
        }

        label {
            width: 60%;
        }

        .text-box input {
            width: 15%;
            clear: none;
        }

        .text-box button {
            margin-top: 1em;
        }

        button {
            padding: 2%;
            background-color: #2747ec;
            border: none;
            border-radius: 2%;
        }

        button:hover {
            bottom: 0.1em;
        }

        button:focus {
            outline: 0;
        }

        button:active {
            bottom: 0;
            background-color: #fdf;
        }

    </style>

{% endblock %}


{% block content %}
    <div class="content-display clearfix">
        <div class="panel">
            <div class="panel-box">
                <div class="table-responsive mt-3">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div class="table-responsive">


                                <div class="listing-section">

                                    {% for file in files %}

                                        <div class="product">
                                            <div class="image-box">
                                                <div class="images" id="image-1"></div>
                                            </div>
                                            <div class="text-box">
                                                <h2 class="item">{{ file.symbol }}</h2>
                                                <button type="button" name="item-1-button" id="item-1-button">View
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- panel -->
    </div>
{% endblock %}
